.menu-container {
  display: flex;
  justify-content: right;
  padding-right: 4em;
}

.menu-container > div:first-child {
  width: 2em;
  height: 2em;
  border: 0.1em solid #64ffda;
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: auto;
  border-radius: 50%;
}

.logo:hover {
  cursor: pointer;
}

.menu-item {
  margin-top: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.menu-item-text {
  color: white;
}

.menu-item-text:hover {
  color: #64ffda;
  cursor: pointer;
}

.menu-item-number {
  color: #64ffda;
}

@media screen and (max-width: 480px) {
  .menu-container {
    justify-content: center;
    padding-right: 0em;
  }
}
