.welcome-container {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
}

.welcome-item {
  margin-left: 4em;
  margin-right: 4em;
}

.welcome-item p {
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-item:nth-child(1) p {
  color: #64ffda;
}

.welcome-item:nth-child(2) p {
  font-size: min(6vw, 6em);
  letter-spacing: 0.025em;
  color: #d1a2f9;
  font-family: "Coolvetica";
}

.welcome-item:nth-child(3) p {
  font-size: min(6vw, 6em);
  letter-spacing: 0.025em;
  color: #cecdcd;
  font-family: "Coolvetica";
}

.welcome-item:nth-child(5) p {
  margin-top: 1em;
}

.ericsson-text {
  text-decoration: none;
}

.ericsson-text:hover {
  cursor: pointer;
  color: red;
}

.social-item-container {
  display: flex;
  column-gap: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
}

.social-item {
  width: 1.25em;
  height: 1.25em;
}

.social-item:hover {
  cursor: pointer;
}

.copy-message-container {
  margin-left: 4em;
}

.copy-message {
  font-size: 0.5em;
}

@media screen and (max-width: 720px) {
  .welcome-item {
    text-align: center;
  }
}
