.home-content-container {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
}

.home-content-row-one {
  color: #64ffda;
}

.home-content-row-two {
  font-size: min(6vw, 6em);
  letter-spacing: 0.025em;
  color: #d1a2f9;
  font-family: "Coolvetica";
  margin: 0em;
}

.home-content-row-three {
  font-size: min(6vw, 6em);
  letter-spacing: 0.025em;
  color: #cecdcd;
  font-family: "Coolvetica";
  margin: 0em;
}

.ericsson-text {
  text-decoration: none;
}

.ericsson-text:hover {
  cursor: pointer;
  color: red;
}

.github-button {
  width: 8em;
  height: 2em;
  border-radius: 0.5em;
  background-color: #071630;
  border: 1px solid #64ffda;
  color: white;
  font-family: "Consonlas";
}

.github-button:hover {
  cursor: pointer;
  border: 1px solid red;
}

@media screen and (max-width: 720px) {
  .home-content-container {
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;
  }

  .home-content-row-four {
    text-align: center;
  }
}
