.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input,
.form-input-message {
  width: 20em;
  background-color: #071630;
  color: white;
  resize: none;
}

.form-input-message {
  height: 10em;
}

.form-input-item {
  text-align: center;
}

textarea::placeholder {
  color: white;
  opacity: 0.25;
}
