@font-face {
  font-family: "Consonlas";
  src: url("../public/fonts/CONSOLAB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../public/fonts/Coolvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Consonlas", "Courier New", monospace;
  background-color: #071630;
  user-select: none;
}

div,
p,
span,
a {
  color: white;
}
