@font-face {
  font-family: "Consonlas";
  src: url("../public/fonts/Consola.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../public/fonts/coolvetica.rg-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Consonlas", "Courier New", monospace;
  background-color: #071630;
}

p {
  color: white;
}
