@import "./theme.css";

@font-face {
  font-family: "Consonlas";
  src: url("/fonts/CONSOLAB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Consonlas", "Courier New", monospace;
  background-color: var(--color-bg);
  color: var(--color-text-bright);
  min-height: 100vh;
  user-select: none;
}

a {
  color: inherit;
}
